footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(194, 29, 29);
  color: white;
}
#f {
  color: #4391ff;
}
#w {
  color: chartreuse;
  margin-left: 50px;
  margin-right: 50px;
}
#t {
  color: rgb(129, 165, 233);
}
footer a {
  text-align: center;
  direction: ltr;
  color: white;
}
/* About */
.about {
  color: rgb(194, 29, 29);
  border-bottom: solid 1px gray;
}
#about {
  padding-right: 10%;
  padding-left: 5%;
}
#end {
  margin-bottom: 10%;
}
#head {
  color: rgb(194, 29, 29);
  font-weight: 500;
  border-bottom: solid 1px gray;
}
#zahraa {
  color: rgb(194, 29, 29);
  font-weight: 600;
}
.contact-main h2 {
  font-weight: 400;
}
.contact-main span {
  font-weight: 300;
}
iframe {
  margin-bottom: 100px;
  width: 400px;
  height: 300px;
  border-radius: 7px;
}
#iframe {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 567px) {
  p {
    font-size: larger;
    white-space: normal;
  }
  iframe {
    width: 70%;
    height: 300px;
  }
}
